@model IEnumerable<ClubeViewModel>
@{
    ViewData["Title"] = "Clubes";
}

<h1 class="display-5 text-center">@ViewData["Title"]</h1>
<div class="row justify-content-center">
    <div class="col-md-8">
        <table class="table table-striped table-hover table-responsive table-light">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col" width="60">Flag</th>
                    <th scope="col">País</th>
                    <th scope="col">Grupo</th>
                    <th scope="col" width="120">Ações</th>
                </tr>
            </thead>
            <tbody id="clubes_rows" class="table-group-divider">
                @foreach (var clube in Model)
                {
                    <tr>
                        <td scope="row">@clube.id</td>
                        <td><img src="@clube.urlBandeira" alt="Bandeira @clube.nome" width="40px" /></td>
                        <td>@clube.nome</td>
                        <td>Grupo grupo.nome</td>
                        <td><a href="#" role="button" data-bs-toggle="modal" data-bs-target="#modal`@clube.id`">editar</a> | excluir</td>
                    </tr>
                }
                @*<tr>
                    <td class="text-center" scope="row" colspan="5">Carregando...</td>
                </tr>*@
            </tbody>
        </table>
    </div>
    <div class="col-md-4">
        <div class="sticky-top">
            <p class="h3">Cadatrar novo clube</p>
            <form onsubmit="cadastrar(event)" class="needs-validation" novalidate>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="inputPais" placeholder="Brasil" required>
                    <label for="inputPais" class="form-label">País</label>
                    <div class="invalid-feedback">
                        Por favor, difite o nome do país.
                    </div>
                </div>
                <div class="form-floating mb-3">
                    <textarea class="form-control" placeholder="Deixe uma descrição ou informações adicionais aqui" id="textareaDescricao"></textarea>
                    <label for="textareaDescricao">Descrição</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="inputBandeira" placeholder="arquivo.png" required>
                    <label for="inputBandeira" class="form-label">URL da Bandeira</label>
                    <div class="invalid-feedback">
                        Por favor, insira a URL da bandeira deste país.
                    </div>
                </div>
                <div class="form-floating mb-3">
                    <select class="form-control" id="selectGrupos" placeholder="arquivo.png" aria-label="Floating label select" required>
                        <option selected disabled value="">Selecione...</option>
                    </select>
                    <label for="selectGrupos" class="form-label">Grupo</label>
                    <div class="invalid-feedback">
                        Por favor, selecione um grupo.
                    </div>
                </div>
                <div class="d-grid gap-2 col-12 mx-auto">
                    <button type="submit" class="btn btn-primary">Cadastrar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">

    const API_HOST = "https://localhost:5001/api/";

    var cadastrar = async (event) => {
        event.preventDefault();

        let clube = {
            nome: document.getElementById("inputPais").value,
            descricao: document.getElementById("textareaDescricao").value,
            urlBandeira: document.getElementById("inputBandeira").value,
            gruposId: document.getElementById("selectGrupos").value,
        };

        const settings = {
            method: 'POST',
            headers: {
                Accept: 'application/json',
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(clube)
        };
        try {
            const fetchClubes = await fetch(`${API_HOST}Clubes`, settings);
            await fetchClubes.json();

            document.getElementById("inputPais").value = "";
            document.getElementById("textareaDescricao").value = "";
            document.getElementById("inputBandeira").value = "";
            document.getElementById("selectGrupos").value = ""; 

            carregarClubes();
        } catch (e) {
            console.log(e);
        }
    }

    var carregarClubes = async () => {
        const settings = {
            method: 'GET',
            headers: {
                Accept: 'application/json',
                'Content-Type': 'application/json'
            }
        };
        try {
            const fetchClubes = await fetch(`${API_HOST}Clubes`, settings);
            const clubes = await fetchClubes.json();
            const fetchGrupos = await fetch(`${API_HOST}Grupos`, settings);
            const grupos = await fetchGrupos.json();
            let grupo = "";
            let htmlTable = "";
            let htmlModals = "";
            let gruposOptions = `<option selected disabled value="">Selecione...</option>`;

            clubes.forEach(clube => {
                grupo = grupos.find(g => g.id === clube.gruposId);

                htmlTable += `
                    <tr>
                        <td scope="row">${clube.id}</td>
                        <td><img src="${clube.urlBandeira}" alt="Bandeira ${clube.nome}" width="40px" /></td>
                        <td>${clube.nome}</td>
                        <td>Grupo ${grupo.nome}</td>
                        <td><a href="#" role="button" data-bs-toggle="modal" data-bs-target="#modal${clube.id}">editar</a> | excluir</td>
                    </tr>`;

                htmlModals += `
                    <div class="modal modal-dialog-centered fade" id="modal${clube.id}" tabindex="-1" aria-labelledby="modal${clube.id}Label" aria-hidden="true">
                        <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h1 class="modal-title fs-5" id="modal${clube.id}Label">Editar País</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
                            </div>
                            <div class="modal-body">
                            ...
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                            <button type="button" class="btn btn-primary">Salvar</button>
                            </div>
                        </div>
                        </div>
                    </div>`;
            });
            document.getElementById("clubes_rows").innerHTML = htmlTable;

            grupos.forEach(grupo => {
                gruposOptions += `
                        <option value="${grupo.id}">${grupo.nome}</option>`;
            });
            document.getElementById("selectGrupos").innerHTML = gruposOptions;

        } catch (e) {
            console.log(e);
        }
    }

    carregarClubes();

</script>