<!DOCTYPE html>
<html lang="en">
<head>
    @Html.Partial("Head")
</head>
<header>
    @Html.Partial("HeaderHome")
</header>
<body>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    @Html.Partial("Footer")
    @Html.Partial("FooterScripts")
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
